# Visual Studio .NET Core projects
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
SmartEduManager.Api/bin/*
SmartEduManager.Api/wwwroot/*

# .NET Core
**/bin/
**/obj/

# Entity Framework Core
*.db
*.mdf
*.ldf
appsettings.json
appsettings.*.json

# Logs
logs/
*.log
*.txt

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
dist-ssr/
*.local

# Flask
smartedu-manager-flask-web/venv/
smartedu-manager-flask-web/__pycache__/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# System Files
.DS_Store
Thumbs.db
