<mat-toolbar color="primary" class="admin-toolbar">
  <span>SmartEdu Manager - Admin</span>
  <span class="flex-spacer"></span>
  <span>Welcome, {{ userFullName() }}</span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="admin-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="admin-sidenav">
      <mat-nav-list>
        <!-- Admin navigation will be added here -->
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <div class="admin-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>